HF_TOKEN=
EMBEDDING_MODEL=Qwen/Qwen3-Embedding-0.6B


POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432


DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}


DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=https://api.deepseek.com/v1
DEEPSEEK_MODEL=deepseek-chat


GOOGLE_SERVICE_ACCOUNT_FILE=app/agents/service_account_config/service-account.json
GOOGLE_CALENDAR_ID=


SENDER_EMAIL=
EMAIL_PASSWORD=
RECEIVER_EMAIL=